.html,
body {
  background-color: #09d3ac;
  text-align: center;
  height: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25)), */
  /* url('/background.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
}

.Grid {
  margin: 5%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.static-logo {
  height: 8rem;
  margin-top: 1rem;
  cursor: pointer;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-weight: 800;
  font-size: 35px;
  text-shadow: 8px 0px 5px rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.menu-hidden {
  visibility: hidden;
  font-weight: 800;
  font-size: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
