.html,
body {
  background-color: #09d3ac;
  text-align: center;
  height: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25)), */
  /* url('/background.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
}

.Grid {
  margin: 5%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.static-logo {
  height: 20vmin;
  margin-top: 1rem;
}

.animated-logo {
  margin-top: 1rem;
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
